[Unit]
Description=botdemon timer for every 30 min
Requires=botdemon.service

[Timer]
Unit=botdemon.service
Persistent=true
OnCalendar=Mon..Fri *-*-* 8,9,10,11,12,13,14,15,16,17,18,19:00,30:00

[Install]
WantedBy=timers.target
